*.iml
*.ipr
*.ids
*.iws
.idea/

.project
.metadata
local.properties
.classpath
.settings/
.loadpath


target/

.gradle
build/

*.log*
/classes/

# Helm stuff
helm/*/charts

# Temp certs
*.crt
*.key
*.csr